.posts_list {
  li {
    margin-bottom: 10px;
    a {
      display: flex;
      width: 100%;
      padding: 20px;
      border-radius: 5px;
      align-items: center;
      justify-content: space-between;
    }
    strong,
    span {
      font-size: 18px;
    }
  }
}